<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body class="bg-blue-800">
    <nav class="bg-blue-900 flex justify-between p-4 border-b-2 border-blue-950 shadow-xl shadow-blur">
        <div class="flex justify-start ">
          <a class="text-white " href="#">
            <img src="../image_processing20210901-7823-90tz4q.gif" class="w-10 h-10" alt="easily"></a>
        </div>
        <div class="flex justify-center mr-32">
          <ul class="flex justify-between space-x-4">
            <li>
              <a href="#" class="text-white cursor-pointer">Home</a>
            </li>
            <li>
              <a href="./jobs.html" class="text-white cursor-pointer">Jobs</a>
            </li>
            <li>
              <a href="./recuriter.html" class="text-white cursor-pointer">Recruiter</a>
            </li>
          </ul>
        </div>
        <div class="flex justify-end">
          <form action="/search" class="flex items-center">
            <input id="search-box" type="search" name="q" placeholder="search" class="px-2 py-1 rounded-l border border-gray-300">
            <button type="submit" class="px-2 py-1 bg-blue-500 text-white rounded-r">Search</button>
          </form>
        </div>
      </nav>
      <div class="flex">
        <div class="left w-1/2 p-8">
          <div>
            <h1 class="text-4xl font-bold  mb-2">A comprehensive platform for reliable</h1>
            <h2 class="text-2xl mb-2">job opportunities and internships.</h2>
            <h3 class="text-xl mb-4">Get Discovered. Get Hired.</h3>
            <button class="bg-pink-500 text-white py-2 px-4 rounded"><a href="./jobs.html">I'm a Job Seeker</a></button>
            <button class="bg-pink-500 text-white py-2 px-4 rounded ml-2"><a href="./recuriter.html">I'm a Recruiter</a></button>
          </div>
        </div>
        <div class="right w-1/2 p-8">
    
            <img src="https://easily-deploy.onrender.com/images/banner.png" alt="banner">
        </div>
      </div>


</body>
</html>